#pagina{
    margin: 0 auto;
    max-width: 1200px;
	width: auto;
    min-height: 620px;
    height: auto;
    background: rgba(255, 246, 248, 0.17);
	text-decoration:none;  
	font-family:sans-serif;

}

#prinick {
    margin: 100px auto;
    width: 300px;
    height: 340px;
    background: rgba(37, 47, 78, 0.37);
} 

#logo {
    width: 300px;
    height: 110px;
    background: url('../images/logo.png') no-repeat;
    background-size: 100px 110px;
    background-size: 90%;
}

#logofo {
	margin: -45px auto;
	float: right;
    width: 50px;
    height: 50px;
    background: url('../images/logo1.png') no-repeat;
    background-size: 100px 110px;
    background-size: 90%;
}

#buscar{
    position: absolute;
    margin: -35px 0px 0px 742px;
}

#buttons {
    background: rgba(38, 38, 38, 0.49); 
    padding: 10px 100px; 
    color: #000000;
}

#buttons1 {
    background: rgba(38, 38, 38, 0.49); 
    padding: 8px 40px; 
    color: #000000;
}

body {
	color: #d4d4d4;
    background:  url('../images/bg.png') repeat;
	background-attachment:fixed;
	text-decoration:none;  
}

a {
	text-decoration:none
}

nav {
    height: 35px;
    color: #393939;
    background: rgba(72, 72, 72, 0.6);
}


section {
    padding: 1px;
    background: rgba(209, 219, 255, 0);
	min-height: 385px;
	margin: 10px auto;
}

section.separador {
	min-height: 0px;
    background: rgba(27, 167, 255, 0);
    height: 10px;
}

aside {
    margin: 12px 0px 0px 0px;
    float: left;
    color: black;
    background: rgb(67, 67, 67);
    padding: 5px;
    width: 160px;
    height: 393px;
    margin-right: 25px;
    text-decoration: none;
}

footer {
    background: rgba(72, 72, 72, 0.6);
    height: 30px;
    margin: 0px auto 0px auto;
    padding: 10px;
}

nav ul, aside ul, section ul {
    color: black;
    margin: 0px 0px 0px -40px;
    list-style: none;
}

aside ul li, section ul li {
    color: #ffffff;
    padding: 3px;
    height: 29px;
    line-height: 29px;
    background: rgb(67, 67, 67);
	 text-decoration:none;  
    
    display:list-item;
}

aside ul li:hover, section ul li:hover {
    font-weight: bold;
    color: aliceblue;
    background:  rgba(195, 0, 0, 0.84);
}

nav ul li {
    color: black;
    padding: 3px;
    height: 29px;
    line-height: 29px;
    background: rgba(72, 72, 72, 0);
    display: inline-block;
}

nav ul li:hover, .btn-buscar:hover {
    font-weight: bold;
    color: aliceblue;
    background:  rgba(195, 0, 0, 0.84);
}

.btn-buscar {
    margin: 0px 0px 0px 173px;
    position: absolute; 
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(162, 165, 237);
    cursor: pointer;
}

.inp-buscar {
    color: black;
    background: rgba(157, 157, 157, 0.6);
    position: absolute;
    margin: 0px 0px 0px -2px;
    height: 33px;
    border: none;
    padding-left: 6px;
}

.inp-buscar1 {
    color: aliceblue;
    background: #4d4d4d;
    margin: 0px 0px 0px -2px;
	width: 250px;
    height: 31px;
    border: none;
	padding-left: 6px;
}

.inp-buscar2 {
    color: aliceblue;
    background: #4d4d4d;
    margin: 0px 0px 0px -2px;
	width: 250px;
    height: 25px;
    border: none;
	padding-left: 6px;
}

.inp-buscar:hover, .inp-buscar1:hover, .inp-buscar2:hover {
    background: #1c1c1c;
}

.slides {
      display: none
    }

    .slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
		background: rgba(25, 25, 25,0);
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }
.slidesjs-pagination-item{
	background: rgba(25, 25, 25,0);
}

.slidesjs-pagination-item:hover {
	background: rgba(25, 25, 25,0);
}

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    .slides a:link,
    .slides a:visited {
      color: #333
    }

    .slides a:hover,
    .slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    .slides {
      display: none
    }

    .container {
      margin: 0 auto;
		width: auto;
    }
  /* For tablets & smart phones */
    @media (max-width: 567px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 360px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 568px) and (max-width: 779px) {
      .container {
        width: 624px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1000px
      }
    }*/
	

